/* .chatOnline {
    display: flex;
    margin: 10px;
    padding: 10px;
} */
.chatOnlineFriend:hover {
    background-color: rgba(181, 38, 38, 0.677);
}
.chatOnlineFriend {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    margin: 10px 0;
}
.chatOnlineImgContainer {
    display: flex;
    position: relative;
    margin-right: 10px;

}
.chatOnlineImg {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
}
.chatOnlineBadge {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: limegreen;
    position: absolute;
    top: -2;
    right: 0px;
    border: 2px solid white;
}



